.preview-wrapper {
    display: block;
  .project-preview {
    .preview-image {
      background: $gray;
      background-position: center;
      background-size: cover;
      border: 15px solid $white;
      box-sizing: border-box;
      height: 500px;
      transition: 0.5s all;
      width: 100%;
      &:hover {
        border: 15px solid #9ae227;
      }
    }
    h3 {
      font-size: 2rem;
      font-weight: lighter;
      margin: 1.7rem 0;
      padding-left: 1.7rem;
    }
    h5 {
      font-size: 1.5rem;
      font-weight: lighter;
      margin-top: 0;
      padding-left: 1.7rem;
    }
  }
}

@media (min-width: 800px) {
  .preview-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 0 1.4%;
    .project-preview {
      display: inline-block;
      margin: 0 2.4%;
      width: 45%;
    }
  }
}
