.preview-wrapper {
  .project-preview {
    .preview-image {
      background: $gray;
      height: 500px;
      width: 100%;
    }
    h3 {
      font-size: 2.5rem;
      font-weight: lighter;
      margin: 1.7rem 0;
      padding-left: 1.7rem;
    }
    h5 {
      font-size: 1.5rem;
      font-weight: lighter;
      margin-top: 0;
      padding-left: 1.7rem;
    }
  }
}

@media (min-width: 800px) {
  .preview-wrapper {
    padding: 0 1.4%;
    .project-preview {
      display: inline-block;
      margin: 0 2.4%;
      width: 45%;
    }
  }
}
