@import 'variables';
@import 'menu';
@import 'projectPreview';
@import 'projectView';
@import 'footer';
@import 'backToTop';

body {
  font-family: sans-serif;
  margin: 0;
}

main {
  padding-top: 4rem;
}
